body {
  font-family: 'Courier New', Courier, monospace;
  background: radial-gradient(circle, rgb(0, 89, 255) 50%, rgba(0, 212, 255, 1) 100%);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  margin-right: 20px;
  padding: 10px;
  background-color: blue;
  border: 5px outset cyan;
  text-align: left;
  color: white;
}

.legend {
  margin-left: 20px;
  padding: 10px;
  background-color: blue;
  border: 5px outset cyan;
  text-align: left;
  color: white;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.legend-item canvas {
  margin-right: 10px;
}

.bruh, .cl, .info {
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  transition-duration: 0.4s;
  margin: 5px 0;
}

.bruh {
  background-color: purple;
  color: white;
}

.bruh:hover {
  background-color: #4CAF50;
  color: rgb(112, 0, 0);
}

.cl {
  background-color: rgb(0, 132, 255);
  color: rgb(200, 255, 0);
}

.cl:hover {
  background-color: #ff0000;
  color: rgb(0, 0, 0);
}

.info {
  background-color: rgb(95, 255, 27);
  color: rgb(32, 0, 164);
}

.info:hover {
  background-color: #f2C9C4;
}

.hidden {
  display: none;
}

.extra {
  display: none;
}
