body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
 background: rgb(49,37,164);
background: radial-gradient(circle, rgba(49,37,164,1) 50%, rgba(0,212,255,1) 100%);
}
